.navigation {
	display: grid;
	grid-template-columns: 90px 1fr auto;
	align-items: center;
	grid-column-gap: 60px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.navigation__logo {
	justify-self: start;
	width: 90px;
}

.navigation__list {
	justify-self: center;
	@include reset-list;
	display: flex;
}

.navigation__item {
	margin-right: 30px;

	&:last-child {
		margin-right: 0;
	}
}

.navigation__link {
	color: inherit;
	font-weight: $medium;
}