.social {
	grid-column: 2 / 3;
	grid-row: 3 / -1;
}

.social__list {
	@include reset-list;
	display: flex;
}

.social__item {
	margin-right: 18px;

	&:last-child {
		margin-right: 0;
	}
}

.social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		background-repeat: no-repeat;
		background-size: 18px 18px;
		width: 18px;
		height: 18px;
	}

	&--facebook::after {
		background-image: url("../img/facebook.svg");
	}

	&--twitter::after {
		background-image: url("../img/twitter.svg");
		background-size: 17px 14px;
		width: 17px;
		height: 14px;
	}

	&--instagram::after {
		background-image: url("../img/instagram.svg");
	}

	&--pinterest::after {
		background-image: url("../img/pinterest.svg");
	}

}