.subscribe {
	grid-column: 4 / 5;
	grid-row: 1 / -1;
}

.subscribe__label {
	display: block;
	margin-bottom: 37px;
}

.subscribe__container {
	position: relative;
}

.subscribe__input {
	padding: 11px 30px 11px 0;
	background: transparent;
	color: $secondary-color;
	font-size: inherit;
	border: 0;
	border-bottom: 1px solid $feedback-line;
	width: 100%;

	&::placeholder {
		color: $secondary-color;
	}
}

.subscribe__button {
	display: block;
	width: 26px;
	height: 41px;
	border: 0;
	padding: 0;
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;

	&::after {
		content: "";
		position: absolute;
		top: 14px;
		left: 0;
		width: 26px;
		height: 12px;
		background-image: url("../img/arrow-right.svg");
		background-size: 26px 12px;
		background-repeat: no-repeat;
	}

	&:focus,
	&:active {
		outline: 1px solid black;
	}
}

@media (max-width: $desktop-width-s) {
	.subscribe {
		grid-column: 1 / 2;
		grid-row: 4 / -1;
		margin-top: 40px;
	}

	.subscribe__label {
		margin-bottom: 15px;
		font-size: 18px;
	}

	.subscribe__input {
		font-size: 18px;
		padding: 11px 40px 11px 15px;
	}

	.subscribe__button {
		width: 35px;

		&::after {
			width: 30px;
			height: 15px;
			background-size: 30px 15px;
			left: 2px;
		}
	}
}